h2, td, form, th {
    text-align: center;
}

.div_title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

td:hover {
    background-color: orange;
    color: white;
}

form {
    margin-top: 20px;
    margin-bottom: 50px;
}

table {
    margin: 0 auto;
    height: 100%;
}

.table {
    height: 80vh;
}

th {
    background-color: #f8dea2;
}

.button {
    text-align: center;
}

.today {
    border-radius: 50%;
    background-color: black;
    color: white;
}

.today:hover {
    background-color: white;
    color: black;
}