h1, td, form, th {
    text-align: center;
}

.div_title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

td:hover {
    background-color: orange;
    color: white;
}

form {
    margin-top: 20px;
    margin-bottom: 50px;
}

table {
    margin: 0 auto;
}

th {
    background-color: #f8dea2;
}