body {
    background-color: black;
    color: white;
}

.netflix {
    margin-top: 5px;
    width: 10vw;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav a {
    margin-left: 5vh;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
}

h1 {
    margin-top: 10vh;
    margin-bottom: 30vh;
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
}

.row {
    text-align: center;
    /* margin-bottom: 10vh; */
}

.section {
    margin-bottom: 10vh;
}

/* PAGE MOVIES ACTORS */

.movies-row {
    text-align: center;
}

/* PAGE STORE */

.store-row {
    text-align: center;
    margin-bottom: 10vh;
}

/* PAGE FINANCIAL */

.financial-row {
    text-align: center;
    margin-bottom: 10vh;
}

/* Footer */

footer {
    border: 3px solid white;
    padding-block: 8vh;
    margin-top: 15vh;
    height: auto;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info-item {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    margin-bottom: 2.5vh;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-desc-section {
    text-align: center;
    color: white;
}

.footer-desc {
    margin-bottom: 1vh;
    cursor: pointer;
    color: white;
    transition: 0.25s;
}

.footer-a {
    text-decoration: none;
}

.footer-desc:hover {
    color: rgba(112, 188, 216, 0.8);
}

.copyright {
    margin-top: 8vh;
    font-size: 0.7em;
    text-align: center;
}
